<header class="header ">
  <div class="container header__container">
    <a class="logo header__logo" href="index.html" aria-label="Логотип">
      <img src="assets/images/logo.svg" alt="Логотип">
    </a>
    <nav class="header__menu header-menu">
      <ul class="header-menu__list">
        <li class="header-menu_item">
          <a class="header-menu__link" href="about-service.html">
            <span>О сервисе</span>
          </a>
        </li>
      </ul>
    </nav>
    <button class="btn-reset burger">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>